<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='styles/artistasAlbum.css')}}" rel="stylesheet">
    <title>ArtistaMusicas</title>
</head>

<body>
    <div id="ContainerAlbumArtistas">
        <div>
            <label id="ArtistaTitulo"> {{informacoes[0][2]}} </label>
        </div>

        <main id="ArtistaAlbumLista">
            {% for info in informacoes %}
            <div id="albumBD" onclick= "enviarAlbum(event)" data-album-cod="{{ info[0] }}">
                <div id="containerInfoAlbum">
                    <img src="{{info[3]}}" id="capaAlbum">
                    <label id="nameAlbum">{{info[1]}}</label>
                </div>
            </div>
            {% endfor %}
        </main>
    </div>

    <script src="{{url_for('static',filename='javascript/enviarAlbum.js')}}"></script>
</body>

</html>