<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='styles/playlist.css')}}" rel="stylesheet">
    <title>Musicas</title>
</head>

<body>
    <div id="ContainerPlaylist">
        <div>
            <label id="nomePlaylistTitulo">Musicas Salvas</label>
        </div>

        <div>
            <button id="embaralharPlaylistButtom">Embaralhar </button>
        </div>

        <div>
            <button id="addMusicPlaylistButtom" onclick="addFormPlaylist()">Adicionar músicas</button>
        </div>
        <form id="addFormMusicPlaylist">
            <div id="containerFormAddMusic">
                <div id="showFile">
                    <div class="containerFile">
                        <label for="fileUpload" class="customFileUpload">
                            Escolha uma musica
                        </label>
                        <input id="fileUpload" type="file" />
                    </div>
                </div>

                <input type="text" placeholder="Nome da musica" name="musicaInput" id="musicaInput"class="inputMusic">
                <input type="text" placeholder="Nome do artista" name="artistaInput" id="artistaInput" class="inputMusic">
                <button id="addMusicForm" onclick="addMusicInMusicSaves(event)">Adicionar</button>
            </div>
        </form>

        <main id="musicPlaylistSalvas">
            {% for music in Musicas %}
            <div id="musicBD">
                <div id="containerInfoMusicBD">
                    <label id="nameMusic">{{music[0]}}</label>
                    <label id="nameArtistaMusic">{{music[1]}}</label>
                </div>
                <button class="circleButtom">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            {% endfor %}
        </main>
    </div>

</body>
<script src="{{url_for('static',filename='javascript/playlistForm.js')}}"></script>

</html>