<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{url_for('static',filename='styles/playlist.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/playerMusica.css')}}" rel="stylesheet">
    <title>Musicas</title>
</head>

<body>
    <div id="ContainerPlaylist">
        <div>
            <label id="nomePlaylistTitulo">Musicas Salvas</label>
        </div>

        <div>
            <button id="embaralharPlaylistButtom">Embaralhar </button>
        </div>

        <div>
            <button id="addMusicPlaylistButtom" onclick="addFormPlaylist()">Adicionar músicas</button>
        </div>
        <form id="addFormMusicPlaylist">
            <div id="containerFormAddMusic">
                <div id="showFile">
                    <div class="containerFile">
                        <label for="fileUpload" class="customFileUpload">
                            Escolha uma musica
                        </label>
                        <input id="fileUpload" type="file" />
                    </div>
                </div>

                <input type="text" placeholder="Nome da musica" name="musicaInput" id="musicaInput" class="inputMusic">
                <input type="text" placeholder="Nome do artista" name="artistaInput" id="artistaInput"
                    class="inputMusic">
                <button id="addMusicForm" onclick="addMusicInMusicSaves(event)">Adicionar</button>
            </div>
        </form>

        <main id="musicPlaylistSalvas">
            {% for music in Musicas %}
            <div id="musicBD" onclick="tocarMusica(event,'musicasSalvas')" data-music-cod="{{ music[0] }}">
                <div id="containerInfoMusicBD">
                    <label id="nameMusic">{{music[1]}}</label>
                    <label id="nameArtistaMusic">{{music[2]}}</label>
                </div>

                <div id="removeButtomMusic">
                    <button class="circleButtom">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </div>
            {% endfor %}
            <audio id="playerMusica" class="player" controls>
                Seu navegador não suporta o elemento de áudio.
            </audio>
        </main>
    </div>

</body>
<script src="{{url_for('static',filename='javascript/playlistForm.js')}}"></script>
<script src="{{url_for('static',filename='javascript/tocarMusica.js')}}"></script>

</html>