<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{{url_for('static',filename='styles/playlist.css')}}" rel="stylesheet">
    <title>Playlist Salvas</title>
</head>

<body>
    <div id="ContainerPlaylist">
        <div>
            <label id="nomePlaylistTitulo">{{Title}}</label>
        </div>
        <div>
            <button id="embaralharPlaylistButtom">Embaralhar </button>
        </div>

        <main id="musicPlaylistSalvas">
            {% for music in Musics %}
            <div id="musicBD">
                <div id="containerInfoMusicBD">
                    <label id="nameMusic">{{music[0]}}</label>
                    <label id="nameArtistaMusic">{{music[1]}}</label>
                </div>
                <button class="circleButtom">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            {% endfor %}
        </main>
    </div>

</body>

</html>