<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link href="{{url_for('static',filename='styles/login.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/register.css')}}" rel="stylesheet">
</head>

<body>
    <div id="registerContainer">
        <form id="registerForm">
            <div>
                <label id="registerText">Registre-se </label>
            </div>

            <div id="registerField">
                <input type="text" placeholder="Nome" class="loginInput" id="registerNome" name="registerNome">
                <input type="email" placeholder="Email" class="loginInput" id="registerEmail" name="registerEmail">
                <input type="password" placeholder="Senha" class="loginInput" id="registerPassword"
                    name="registerPassword">
                <input type="password" placeholder="Confirme a Senha" class="loginInput" id="registerConfirm"
                    name="registerConfirm">
            </div>

            <div>
                <button id="registerButtom" class="enterButtom" onclick="Registrar(event)"
                    type="button">Register</button>
            </div>

            <div>
                <a href="{{ url_for('Login') }}">
                    <span id="textAlready"> Já possui conta? Entre</span>
                </a>
            </div>
        </form>
    </div>
    <script src="{{url_for('static',filename='javascript/registrar.js')}}"></script>
</body>

</html>