@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: rgba(26, 26, 26, 0.911);
    margin: 0px;
    scrollbar-width: thin;
}

/* Scroll da pagina */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(26, 26, 26, 0.911);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 255, 21);
    border-radius: 10px;
    border: 0px;
}

#ContainerArtistas {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#ArtistaTitulo {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: white;

}

#ArtistasLista {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#artistaBD {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(26, 26, 26, 0.911);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3ms ease, box-shadow 0.3ms ease;
}

#artistaBD:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 3);
}

#containerInfoArtista {
    padding-left: 10px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}

#nameArtista {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: rgb(190, 190, 190);
}

#capaArtista{
    width: 100px;
    height: 80%;
    border-radius: 10px;
}



